In [1]:
#dependencies
import json
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census
from config import api_key

In [11]:
c_2011 = Census(api_key, year=2011)
census_data = c_2011.acs5.get(("B25064_001E", "B01003_001E", "B19013_001E", "B17001_002E"), {'for': 'zip code tabulation area:*'})

census_2011 = pd.DataFrame(census_data)
census_2011

# Column Reordering
census_2011 = census_2011.rename(columns={"zip code tabulation area": "Zipcode",
                                          "B25064_001E": "2011 Median Rent+Utilities",
                                      "B01003_001E": "2011 Total Population",
                                      "B19013_001E": "2011 Household Income",
                                      "B17001_002E": "2011 Poverty Count",
                                      "B01002_001E": "2011 Median Age",
                                      })
#add in Poverty rate
census_2011['2011 Poverty Rate'] = census_2011['2011 Poverty Count'] / census_2011['2011 Total Population'] *100


# Final DataFrame
census_2011 = census_2011[["Zipcode", "2011 Total Population", "2011 Household Income",
                       "2011 Median Rent+Utilities", "2011 Poverty Count", "2011 Poverty Rate"]]
census_2011

,Zipcode,2011 Total Population,2011 Household Income,2011 Median Rent+Utilities,2011 Poverty Count,2011 Poverty Rate
0,04110,1259.0,110000.0,1516.0,12.0,0.953137
1,04210,23180.0,43979.0,684.0,3240.0,13.977567
2,04216,515.0,32813.0,294.0,83.0,16.116505
3,04217,3096.0,46359.0,533.0,409.0,13.210594
4,04219,1436.0,38750.0,840.0,141.0,9.818942
...,...,...,...,...,...,...
33115,99923,116.0,27500.0,436.0,4.0,3.448276
33116,99925,689.0,43125.0,678.0,101.0,14.658926
33117,99926,1488.0,45216.0,612.0,179.0,12.029570
33118,99927,67.0,17639.0,-666666666.0,9.0,13.432836
33119,99929,2321.0,50286.0,789.0,203.0,8.746230

In [14]:
c_2012 = Census(api_key, year=2012)
census_data = c_2012.acs5.get(("B25064_001E", "B01003_001E", "B19013_001E", "B17001_002E"), {'for': 'zip code tabulation area:*'})

census_2012 = pd.DataFrame(census_data)
census_2012

# Column Reordering
census_2012 = census_2012.rename(columns={"zip code tabulation area": "Zipcode",
                                          "B25064_001E": "2012 Median Rent+Utilities",
                                      "B01003_001E": "2012 Total Population",
                                      "B19013_001E": "2012 Household Income",
                                      "B17001_002E": "2012 Poverty Count",
                                      "B01002_001E": "2012 Median Age",
                                    })
#add in Poverty rate
census_2012['2012 Poverty Rate'] = census_2012['2012 Poverty Count'] / census_2012['2012 Total Population'] *100


# Final DataFrame
census_2012 = census_2012[["Zipcode", "2012 Total Population", "2012 Household Income",
                       "2012 Median Rent+Utilities", "2012 Poverty Count", "2012 Poverty Rate"]]
census_2012

,Zipcode,2012 Total Population,2012 Household Income,2012 Median Rent+Utilities,2012 Poverty Count,2012 Poverty Rate
0,00601,18544.0,13495.0,370.0,10200.0,55.004314
1,00602,41640.0,15106.0,441.0,23189.0,55.689241
2,00603,54540.0,15079.0,340.0,26776.0,49.094243
3,00606,6593.0,12098.0,281.0,3927.0,59.563173
4,00610,29141.0,16923.0,432.0,14397.0,49.404619
...,...,...,...,...,...,...
33115,97064,3575.0,56300.0,869.0,275.0,7.692308
33116,97065,819.0,51016.0,750.0,133.0,16.239316
33117,97067,1835.0,65600.0,620.0,150.0,8.174387
33118,97068,28303.0,88382.0,1114.0,1225.0,4.328163
33119,97070,21114.0,56576.0,945.0,1885.0,8.927726

In [15]:
c_2013 = Census(api_key, year=2013)
census_data = c_2013.acs5.get(("B25064_001E", "B01003_001E", "B19013_001E", "B17001_002E"), {'for': 'zip code tabulation area:*'})

census_2013 = pd.DataFrame(census_data)
census_2013

# Column Reordering
census_2013 = census_2013.rename(columns={"zip code tabulation area": "Zipcode",
                                          "B25064_001E": "2013 Median Rent+Utilities",
                                      "B01003_001E": "2013 Total Population",
                                      "B19013_001E": "2013 Household Income",
                                      "B17001_002E": "2013 Poverty Count",
                                      "B01002_001E": "2013 Median Age",
                                       })
census_2013.head()

#add in Poverty rate
census_2013['2013 Poverty Rate'] = census_2013['2013 Poverty Count'] / census_2013['2013 Total Population'] *100


# Final DataFrame
census_2013 = census_2013[["Zipcode", "2013 Total Population", "2013 Household Income",
                       "2013 Median Rent+Utilities", "2013 Poverty Count", "2013 Poverty Rate"]]
census_2013

,Zipcode,2013 Total Population,2013 Household Income,2013 Median Rent+Utilities,2013 Poverty Count,2013 Poverty Rate
0,01832,22121.0,57833.0,922.0,2412.0,10.903666
1,01833,8295.0,107775.0,1210.0,191.0,2.302592
2,01834,6675.0,97463.0,1056.0,146.0,2.187266
3,01835,13527.0,72228.0,1089.0,1153.0,8.523693
4,01840,4547.0,18261.0,682.0,1798.0,39.542556
...,...,...,...,...,...,...
33115,99923,81.0,21944.0,-666666666.0,4.0,4.938272
33116,99925,668.0,38125.0,800.0,124.0,18.562874
33117,99926,1630.0,50052.0,675.0,202.0,12.392638
33118,99927,111.0,19000.0,-666666666.0,39.0,35.135135
33119,99929,2341.0,45649.0,772.0,215.0,9.184109

In [17]:
c_2014 = Census(api_key, year=2014)
census_data = c_2014.acs5.get(("B25064_001E", "B01003_001E", "B19013_001E", "B17001_002E"), {'for': 'zip code tabulation area:*'})

census_2014 = pd.DataFrame(census_data)
census_2014

# Column Reordering
census_2014 = census_2014.rename(columns={"zip code tabulation area": "Zipcode",
                                          "B25064_001E": "2014 Median Rent+Utilities",
                                      "B01003_001E": "2014 Total Population",
                                      "B19013_001E": "2014 Household Income",
                                      "B17001_002E": "2014 Poverty Count",
                                      "B01002_001E": "2014 Median Age",
                                       })
#add in Poverty rate
census_2014['2014 Poverty Rate'] = census_2014['2014 Poverty Count'] / census_2014['2014 Total Population'] *100


# Final DataFrame
census_2014 = census_2014[["Zipcode", "2014 Total Population", "2014 Household Income",
                       "2014 Median Rent+Utilities", "2014 Poverty Count", "2014 Poverty Rate"]]
census_2014

,Zipcode,2014 Total Population,2014 Household Income,2014 Median Rent+Utilities,2014 Poverty Count,2014 Poverty Rate
0,01501,16136.0,73105.0,946.0,686.0,4.251363
1,01503,2917.0,88681.0,1250.0,78.0,2.673980
2,01504,9055.0,72699.0,930.0,458.0,5.057979
3,01505,4399.0,102422.0,1148.0,134.0,3.046147
4,01506,3396.0,63889.0,856.0,252.0,7.420495
...,...,...,...,...,...,...
33115,93201,1173.0,27938.0,616.0,568.0,48.422847
33116,93202,3486.0,38733.0,935.0,944.0,27.079748
33117,93203,21784.0,35429.0,796.0,5957.0,27.345758
33118,93204,14553.0,29302.0,707.0,4024.0,27.650656
33119,93205,2065.0,20349.0,663.0,502.0,24.309927

In [18]:
c_2015 = Census(api_key, year=2015)
census_data = c_2015.acs5.get(("B25064_001E", "B01003_001E", "B19013_001E", "B17001_002E"), {'for': 'zip code tabulation area:*'})

census_2015 = pd.DataFrame(census_data)
census_2015

# Column Reordering
census_2015 = census_2015.rename(columns={"zip code tabulation area": "Zipcode",
                                          "B25064_001E": "2015 Median Rent+Utilities",
                                      "B01003_001E": "2015 Total Population",
                                      "B19013_001E": "2015 Household Income",
                                      "B17001_002E": "2015 Poverty Count",
                                      "B01002_001E": "2015 Median Age",
                                       })

#add in Poverty rate
census_2015['2015 Poverty Rate'] = census_2015['2015 Poverty Count'] / census_2015['2015 Total Population'] *100


# Final DataFrame
census_2015 = census_2015[["Zipcode", "2015 Total Population", "2015 Household Income",
                       "2015 Median Rent+Utilities", "2015 Poverty Count", "2015 Poverty Rate"]]
census_2015

,Zipcode,2015 Total Population,2015 Household Income,2015 Median Rent+Utilities,2015 Poverty Count,2015 Poverty Rate
0,65586,15.0,-666666666.0,-666666666.0,0.0,0.000000
1,65588,2772.0,33413.0,441.0,692.0,24.963925
2,65589,326.0,36117.0,-666666666.0,168.0,51.533742
3,65590,1195.0,31298.0,491.0,275.0,23.012552
4,65591,1837.0,47266.0,571.0,267.0,14.534567
...,...,...,...,...,...,...
33115,73544,290.0,51563.0,NaN,30.0,10.344828
33116,17768,305.0,38125.0,NaN,60.0,19.672131
33117,58748,105.0,88125.0,NaN,8.0,7.619048
33118,57349,1561.0,50000.0,NaN,156.0,9.993594
33119,82412,641.0,54500.0,NaN,103.0,16.068643

In [19]:
## merge all years of data
merge_11_12= pd.merge(census_2011, census_2012, on="Zipcode", how="left")
merge_with_13 = pd.merge(merge_11_12, census_2013, on='Zipcode', how='left')
merge_with_14 = pd.merge(merge_with_13, census_2014, on='Zipcode', how='left')
all_data = pd.merge(merge_with_14, census_2015, on='Zipcode', how='left')
all_data

,Zipcode,2011 Total Population,2011 Household Income,2011 Median Rent+Utilities,2011 Poverty Count,2011 Poverty Rate,2012 Total Population,2012 Household Income,2012 Median Rent+Utilities,2012 Poverty Count,...,2014 Total Population,2014 Household Income,2014 Median Rent+Utilities,2014 Poverty Count,2014 Poverty Rate,2015 Total Population,2015 Household Income,2015 Median Rent+Utilities,2015 Poverty Count,2015 Poverty Rate
0,04110,1259.0,110000.0,1516.0,12.0,0.953137,1389.0,130804.0,793.0,32.0,...,1361.0,134453.0,788.0,34.0,2.498163,1445.0,114853.0,794.0,33.0,2.283737
1,04210,23180.0,43979.0,684.0,3240.0,13.977567,23104.0,44118.0,698.0,2925.0,...,22960.0,45279.0,707.0,3788.0,16.498258,22916.0,46760.0,721.0,3594.0,15.683365
2,04216,515.0,32813.0,294.0,83.0,16.116505,487.0,33750.0,375.0,74.0,...,360.0,33571.0,375.0,62.0,17.222222,350.0,35313.0,NaN,52.0,14.857143
3,04217,3096.0,46359.0,533.0,409.0,13.210594,3112.0,51408.0,625.0,257.0,...,2921.0,49063.0,544.0,352.0,12.050668,2859.0,50673.0,593.0,319.0,11.157747
4,04219,1436.0,38750.0,840.0,141.0,9.818942,1511.0,39732.0,764.0,149.0,...,1477.0,39770.0,736.0,191.0,12.931618,1725.0,41125.0,810.0,263.0,15.246377
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33115,99923,116.0,27500.0,436.0,4.0,3.448276,77.0,19107.0,482.0,5.0,...,12.0,-666666666.0,-666666666.0,5.0,41.666667,13.0,-666666666.0,-666666666.0,6.0,46.153846
33116,99925,689.0,43125.0,678.0,101.0,14.658926,673.0,48750.0,750.0,64.0,...,728.0,39167.0,804.0,135.0,18.543956,826.0,38594.0,596.0,137.0,16.585956
33117,99926,1488.0,45216.0,612.0,179.0,12.029570,1624.0,48448.0,653.0,183.0,...,1622.0,51071.0,677.0,221.0,13.625154,1711.0,51071.0,692.0,202.0,11.805961
33118,99927,67.0,17639.0,-666666666.0,9.0,13.432836,75.0,19107.0,-666666666.0,8.0,...,131.0,17946.0,-666666666.0,69.0,52.671756,123.0,19861.0,-666666666.0,64.0,52.032520
33119,99929,2321.0,50286.0,789.0,203.0,8.746230,2361.0,47386.0,759.0,178.0,...,2354.0,48153.0,692.0,228.0,9.685641,2365.0,47941.0,732.0,271.0,11.458774

In [24]:
poverty_data = all_data[["Zipcode", "2011 Poverty Rate", "2012 Poverty Rate", "2013 Poverty Rate", "2014 Poverty Rate", "2015 Poverty Rate"]]
poverty_data

,Zipcode,2011 Poverty Rate,2012 Poverty Rate,2013 Poverty Rate,2014 Poverty Rate,2015 Poverty Rate
0,04110,0.953137,2.303816,1.310717,2.498163,2.283737
1,04210,13.977567,12.660145,14.674479,16.498258,15.683365
2,04216,16.116505,15.195072,13.211845,17.222222,14.857143
3,04217,13.210594,8.258355,11.680328,12.050668,11.157747
4,04219,9.818942,9.861019,8.548708,12.931618,15.246377
...,...,...,...,...,...,...
33115,99923,3.448276,6.493506,4.938272,41.666667,46.153846
33116,99925,14.658926,9.509658,18.562874,18.543956,16.585956
33117,99926,12.029570,11.268473,12.392638,13.625154,11.805961
33118,99927,13.432836,10.666667,35.135135,52.671756,52.032520
33119,99929,8.746230,7.539178,9.184109,9.685641,11.458774